* {
    margin:0;
    padding:0;
    border:none;
    -webkit-user-select:none;
}

body {
    background-color: transparent;
    font: 28px/1em "Calibri";
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    cursor: url("../images/cursor.png") 39 39, auto;
}
a {
    color: #bfbfbf;
}